<body>
    <main>
            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a routerLink="funcionarios">funcionarios</a></li>
                    <li><a routerLink="cadastro">cadastro2</a></li>
                    <li><a href="#">Blindagem</a></li>
                    <li><a href="#">Motor</a></li>
                    <li><a href="#">Luzes</a></li>
                    <li><a href="#">Placa</a></li>
                </ul>
            </div>
    </main>
</body>
