header {
    position: static;
    background-color: rgb(54, 53, 56);
    top: 0px;
    font-size: 3em;
}

.identificacao {
    float: right;
    display: inline-block;
    }
    

    .logo {
        display: inline-block;
    }
   
   