

<div class="home">
    A Automóveis Modernos é uma loja fictícia especializada em veículos novos e seminovos. 
    Com um amplo catálogo de modelos de diversas marcas, como Chevrolet, Fiat, Volkswagen e Toyota, oferecemos 
    aos nossos clientes a possibilidade de escolher o carro que melhor se adapta às suas necessidades e preferências.
    Nossa equipe de vendas é altamente qualificada para orientar e auxiliar em todas as etapas da compra, desde
    a escolha do carro até a obtenção de financiamento. Além disso, contamos com uma oficina mecânica própria e serviços
    de pós-venda para garantir a satisfação e fidelização dos nossos clientes. Venha conhecer a Automóveis Modernos
    e encontrar o carro dos seus sonhos!
</div>